# Built things
_Debug/
Compiled/

# AudioCache can be rebuilt from sources
AudioCache/

# Lockfile
_OpenInEditor.lock

# User settings
Game.agf.user
*.crm.user

# Backups
Game.agf.bak
backup_acsprset.spr

# Memory dumps
*.dmp


